<div class="form-container">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre completo</mat-label>
      <input
        matInput
        formControlName="fullName"
        placeholder="Nombre y Apellido"
      />
      <mat-error *ngIf="editForm.get('fullName')?.hasError('required')">
        El nombre completo es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Usuario" />
      <mat-error *ngIf="editForm.get('username')?.hasError('required')">
        El usuario es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        placeholder="correo@ejemplo.com"
      />
      <mat-error *ngIf="editForm.get('email')?.hasError('required')">
        El email es obligatorio
      </mat-error>
      <mat-error *ngIf="editForm.get('email')?.hasError('email')">
        Ingrese un email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{ status.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="editForm.get('status')?.hasError('required')">
        El estado es obligatorio
      </mat-error>
    </mat-form-field>

    <div class="form-actions center-actions">
      <button
        mat-button
        type="button"
        (click)="onCancel()"
        style="color: black; background-color: #dee2e6"
        class="custom-button"
      >
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="editForm.invalid"
        class="custom-button"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
