<div class="table-header">
  <div class="search-container">
    <div class="popup-wrapper">
      <app-popup-create-role
        (roleCreated)="onRoleCreated()"
      ></app-popup-create-role>
    </div>

    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix fontIcon="search"></mat-icon>
      <mat-label>Buscador</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Busca por id, nombre o descripción"
        #input
      />
    </mat-form-field>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- mombre -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- descripción -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let row">{{ row.description }}</td>
    </ng-container>

    <!-- acciones -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          color="primary"
          (click)="editRole(row.id)"
          aria-label="Editar"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteRole(row.id)"
          aria-label="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- sino hay datos -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Ninguna búsqueda coincide con: "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Paginador"
  ></mat-paginator>
</div>

<p *ngIf="!dataSource?.data?.length">No hay datos para mostrar</p>
