<!-- TOOLBAR -->
<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- SIDENAV -->
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.marginLeft]="sidenavWidth()">
    <router-outlet></router-outlet>
    <!-- aquí va el contenido del sidebar  -->
  </mat-sidenav-content>
</mat-sidenav-container>
