<h2 mat-dialog-title>Eliminar rol</h2>
<mat-dialog-content>
  <p>¿Seguro que deseas eliminar el rol?</p>

  <div class="role-info">
    <div class="role-details">
      <p><strong>ID:</strong> {{ data.role.id }}</p>
      <p><strong>Nombre:</strong> {{ data.role.name }}</p>
      <p><strong>Descripción:</strong> {{ data.role.description }}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="center-actions">
  <button
    mat-button
    mat-dialog-close
    style="color: black; background-color: #dee2e6"
    class="custom-button"
  >
    Cancelar
  </button>
  <button
    mat-button
    [mat-dialog-close]="true"
    cdkFocusInitial
    style="color: black; background-color: #dee2e6"
    class="custom-button"
  >
    Eliminar
  </button>
</mat-dialog-actions>
