<div class="parent">
  <img src="assets/images/logo.png" alt="Logo" class="logo" />

  <div class="texto">
    <h1>Creando el futuro...</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incidi ut labore et dolore magna aliqua.
    </p>
  </div>

  <!-- FORMULARIO DE REGISTRO -->
  <div class="signup-container">
    @if(toggleForm){
    <form id="signup-form" class="signup-form">
      <h2>Crea una cuenta</h2>

      <div class="input-group">
        <label for="nombre">Nombre y apellidos</label>
        <input
          type="text"
          [(ngModel)]="registerObj.fullName"
          id="fullName"
          name="fullName"
          placeholder="Ingresa tu nombre y apellidos"
          required
        />
        <small id="username-error" class="error-message"> </small>
      </div>

      <!-- <div class="input-group">
        <label for="apellidos">Apellidos</label>
        <input
          type="text"
          id="apellidos"
          name="apellidos"
          placeholder="Ingresa tus apellidos"
          required
        />
        <small id="username-error" class="error-message"></small>
      </div> -->

      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          [(ngModel)]="registerObj.emailId"
          id="emailId"
          name="emailId"
          placeholder="Ingresa tu email"
          required
        />
        <small id="email-error" class="error-message"></small>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="registerObj.password"
          id="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
        />
        <small id="password-error" class="error-message"></small>
      </div>

      <button type="submit" (click)="onRegister()" class="submit-btn">
        REGISTRARSE
      </button>
      <hr />
      <div class="login-link">
        <p (click)="toggleForm = false">
          ¿Ya tienes una cuenta? <a>Inicia sesión</a>
        </p>
      </div>
    </form>
    } @else{

    <!-- FORMULARIO DE INICIO DE SESIÓN -->
    <form id="signup-form" class="signup-form">
      <h2>Inicio de sesión</h2>

      <div class="input-group">
        <label for="email">Email</label>
        <input
          [(ngModel)]="loginObj.emailId"
          type="email"
          id="emailId"
          name="emailId"
          placeholder="Ingresa tu email"
          required
        />
        <small id="email-error" class="error-message"></small>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          [(ngModel)]="loginObj.password"
          id="password"
          name="password"
          placeholder="Ingresa tu contraseña"
          required
        />
        <small id="password-error" class="error-message"></small>
      </div>

      <button type="submit" (click)="onLogin()" class="submit-btn">
        INICIAR SESIÓN
      </button>
      <hr />
      <div class="login-link">
        <p (click)="toggleForm = true">
          ¿Aún no tienes una cuenta? <a>Regístrate</a>
        </p>
      </div>
    </form>
    }
  </div>
</div>
