h2 {
  text-align: center;
  font-weight: semibold;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-details p {
  margin: 2px 0;
}

.center-actions {
  justify-content: center;
}

.custom-button {
  transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
  background-color: #e0e0e0;
}
